
<header class="row nav">
    <div class="col-1 ms-0">
        <button type="button" class="btn btn-light"><i class="bi bi-list text-primary"></i></button>
    </div>
    <div class="search col-5 pe-0">
        <a href="">
            <img src="/images/flipkart-logo.png" alt=""/>
            Admin
        </a>
        <input type="text" id="form1" placeholder="Search" />
        <button type="submit">
            <i class="bi bi-search"></i>
        </button>
    </div>
    <div class="col-2" id="login">
        <button type="button" id="login-btn" class="p-0">Login</button>
        <div id="login-table">
            <div class="blank_row" id="login-blank">
                <i class="bi bi-caret-up-fill text-white mx-auto"></i>
            </div>
            {{!-- table --}}
            <div class="table data-list">
                {{#unless user}}
                <div class="row">
                    <a href="/users/login">
                        <div class="col-6">New Customer</div>
                        <div class="link col-6">Signup</div>
                    </a>
                </div>
            {{/unless}}
            <div class="row">
                <a href="">
                    <div>
                        <i class="bi bi-person-circle blue"></i>My Profile
                    </div>
                </a>
            </div>
            <div class="row">
                <a href="">
                    <div>
                        <i class="bi bi-archive-fill blue"></i>Orders
                    </div>
                </a>
            </div>
            <div class="border-bottom-0 row">
                <!--last row -->
                <a href="">
                    <div>
                        <i class="bi bi-suit-heart-fill blue"></i>Whistle
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>
<div class="col-3 d-flex p-0 align-items-center">
    <div class="me-5">
        <a href="" class="">Become a Seller</a>
    </div>
    <div class="me-5" id="more">
        <div id="more-label" class="d-flex align-items-center my-auto">
            <label class="text-light mb-0"
                   style="-webkit-text-stroke: thin;
                          cursor: pointer;">More</label>
            <div class="down-arrow fa-xs">
                <i class="bi bi-chevron-down"></i>
            </div>
            <div class="up-arrow fa-xs">
                <i class="bi bi-chevron-up"></i>
            </div>
        </div>
        <div id="more-table" class=".more-table">
            <div class="blank_row">
                <i class="bi bi-caret-up-fill text-white mx-auto"></i>
            </div>
            {{!-- table --}}
            <div class="data-list table">
                <div class="row data-list-row">
                    <a href="">
                        <div class="col">
                            <i class="bi bi-bell-fill blue"></i>Notification Preference
                        </div>
                    </a>
                </div>
                <div class="row data-list-row">
                    <a href="">
                        <div>
                            <i class="bi bi-question-diamond-fill blue"></i>24x7 Custome Support
                        </div>
                    </a>
                </div>
                <div class="row data-list-row">
                    <a href="">
                        <div>
                            <i class="bi bi-graph-up-arrow blue"></i>Advertice
                        </div>
                    </a>
                </div>
                <div class="border-0 row data-list-row">
                    <!--last row -->
                    <a href="">
                        <div>
                            <i class="bi bi-download blue"></i>Download Apps
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
        <div class="me-5">
            <a href="/admin/user">&emsp;user</a>
        </div>
    </div>
</header>

{{!-- side bar --}}

<link rel="stylesheet" href="/stylesheets/side-bar.css"/>
<div class="d-flex full-height" style="margin-top: 4%;"> 
    <div class="side expanded">
        <ul class="nav justify-content-center" id="menu">
            <a class="nav-link" href="/admin">
                <i class="bi bi-clipboard-data-fill"></i>
                <li class="nav-item">
                    DASHBOARD
                </li>
            </a>
            <a class="nav-link" href="/admin/products">
                <i class="bi bi-box2-fill"></i>
                <li class="nav-item">
                    PRODUCTS
                </li>
            </a>
            <a class="nav-link" href="#">
                <i class="bi bi-cash-coin text-red"></i>
                <li class="nav-item">
                    REFUND
                </li>
            </a>
            <a class="nav-link" href="#">
                <i class="bi bi-bookshelf"></i>
                <li class="nav-item">
                    STOCK
                </li>
            </a>
            <a class="nav-link" href="/">
                <i class="bi bi-people-fill"></i>
                <li class="nav-item">
                    USERS
                </li>
            </a>
            <a class="nav-link" href="#">
                <i class="bi bi-bandaid-fill"></i>
                <li class="nav-item">
                    DEFECTED
                </li>
            </a>
        </ul>
    </div>
