<header class="row nav">
    <div class="search col-5 pe-0">
        <a href="">
            <img src="/images/flipkart-logo.png" alt="">
        </a>
        <input type="text" id="form1" placeholder="Search" />
        <button type="submit">
            <i class="bi bi-search"></i>
        </button>
    </div>
    <div class="col-2" id="login">
        <button type="button" id="login-btn" class="p-0">Login</button>
        <div id="login-table" class="">
            <div class="blank_row" id="login-blank">
                <i class="bi bi-caret-up-fill text-white mx-auto"></i>
            </div>
            <table id="table">
                <tr>
                    <a href="/users/login"><td>New Customer Signup</td></a>
                </tr>
                <tr>
                    <td>
                        <i class="bi bi-person-circle blue"></i>My Profile
                    </td>
                </tr>
                <tr>
                    <td>
                        <i class="bi bi-archive-fill blue"></i>Orders
                    </td>
                </tr>
                <tr class="border-0">
                    <!--last row -->
                    <td>
                        <i class="bi bi-suit-heart-fill blue"></i>Whistle
                    </td>
                </tr>
            </table>
        </div>
    </div>
    <div class="col-3 d-flex p-0 align-items-center">
        <div class="me-5">
            <a href="" class="">Become a Seller</a>
        </div>
        <div class="me-5" id="more">
            <div id="more-label" class="d-flex align-items-center my-auto">
                <label class="text-light mb-0"
                       style="-webkit-text-stroke: thin;
                              cursor: pointer;">More</label>
                <div class="down-arrow fa-xs">
                    <i class="bi bi-chevron-down"></i>
                </div>
                <div class="up-arrow fa-xs">
                    <i class="bi bi-chevron-up"></i>
                </div>
            </div>
            <div id="more-table" class=".more-table">
                <div class="blank_row">
                    <i class="bi bi-caret-up-fill text-white mx-auto"></i>
                </div>
                <table id="table">
                    <tr>
                        <td>
                            <i class="bi bi-bell-fill blue"></i>Notification Preference
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <i class="bi bi-question-diamond-fill blue"></i>24x7 Custome Support
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <i class="bi bi-graph-up-arrow blue"></i>Advertice
                        </td>
                    </tr>
                    <tr class="border-0">
                        <!--last row -->
                        <td>
                            <i class="bi bi-download blue"></i>Download Apps
                        </td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="me-5">
            <a href=""><i class="bi bi-cart3"></i>&emsp;Cart</a>
        </div>
    </div>
</header>