<link rel="stylesheet" href="/stylesheets/cart.css"/>
<div class="container cart" id="my-cart">
    {{#if products }}
        {{#each products }}
            <div class="col-md-3 col-sm-4">
                <div class="card">
                    <img class="card-img-top"
                         src="/products/{{this.img}}"
                         alt="Card image cap"/>
                    <div class="card-body">
                        <h5 class="card-title">{{this.name}}</h5>
                        <button onclick="removeProduct('{{this._id}}')"
                           class="btn btn-danger">Remove</button>
                    </div>
                </div>
            </div>
        {{/each}}
    {{else}}
        <h3>Your cart is empty</h3>
    {{/if}}
</div>
