<script src="https://accounts.google.com/gsi/client" async defer></script>

<section class="vh-100">
    <div class="container py-5 h-100">
        <div class="row d-flex align-items-center justify-content-center h-100">
            <div class="col-md-8 col-lg-7 col-xl-6">
                <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/draw2.svg"
                    class="img-fluid" alt="Phone image">
            </div>
            <div class="col-md-7 col-lg-5 col-xl-5 offset-xl-1 mb-4">
                <form action="/user-login" method="post" enctype="multipart/form-data">
                    <!-- Email input -->
                    <div class="form-outline">
                        <input name="email" type="email" id="form1Example13" class="form-control form-control-lg" />
                        <label class="form-label" for="form1Example13">Email address</label>
                    </div>
                    <div class="my-2">
                        <small style="color: red;">{{message}}</small>
                    </div>
                    <!-- Password input -->
                    <div class="form-outline mb-4">
                        <input name="password" type="password" id="form1Example23"
                            class="form-control form-control-lg" />
                        <label class="form-label" for="form1Example23">Password</label>
                    </div>
                    <div class="d-flex justify-content-around align-items-center mb-4">
                        <!-- Checkbox -->
                        <div class="form-check">
                            <input class="form-check-input" name="news-letter" type="checkbox" value="true"
                                id="form1Example3" checked />
                            <label class="form-check-label" for="form1Example3">Remember me</label>
                        </div>
                        <a href="#!">Forgot password?</a>
                    </div>
                    <!-- Submit button -->
                    <button type="submit" class="btn btn-primary btn-lg btn-block">LOGIN</button>
                    <p class="small fw-bold mt-2 pt-1 mb-0">
                        Don't have an account? <a href="/signup" class="link-danger">Register</a>
                    </p>
                    <div class="divider d-flex align-items-center my-4">
                        <p class="text-center fw-bold mx-3 mb-0 text-muted">OR</p>
                    </div>
                    {{!-- signup with google --}}
                    <div id="g_id_onload" data-client_id="72966321408-2hklt18c6avoqcnrhvdodk4v0unujaql.apps.googleusercontent.com"
                        data-login_uri="/google-signup" data-auto_prompt="true">
                    </div>
                    <div class="g_id_signin mb-2" data-type="standard" data-size="large" data-theme="outline"
                        data-text="sign_in_with" data-shape="rectangular" data-logo_alignment="left">
                    </div>
                     {{!-- <div id="buttonDiv"></div>  --}}
                    {{!--  --}}

                    <a class="btn btn-primary btn-lg btn-block" style="background-color: #3b5998" href="#!"
                        role="button">
                        <i class="fab fa-facebook-f me-2"></i>Continue with Facebook
                    </a>
                    <a class="btn btn-primary btn-lg btn-block mb-3" style="background-color: #55acee" href="#!"
                        role="button">
                        <i class="fab fa-twitter me-2"></i>Continue with Twitter</a>
                </form>
            </div>
        </div>
    </div>
</section>
{{!-- <script>
        function handleCredentialResponse(response) {
          console.log("Encoded JWT ID token: " + response.credential);
        }
        window.onload = function () {
          google.accounts.id.initialize({
            client_id: "72966321408-2hklt18c6avoqcnrhvdodk4v0unujaql.apps.googleusercontent.com",
            callback: handleCredentialResponse
          });
          google.accounts.id.renderButton(
            document.getElementById("buttonDiv"),
            { theme: "outline", size: "large" }  // customization attributes
          );
          google.accounts.id.prompt(); // also display the One Tap dialog
        }
    </script> --}}
   