<style>
    ._60jGDA{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    }
    ._60jGDA ._2qAgVi {
    min-width: 978px;
    max-width: 1680px;
    width: 100%;
    margin: 0 auto;
    overflow: hidden;
    background: #f1f3f6;
}
.RBYJSW {
    margin-top: 16px;
}
.JV-Wt3 {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}
.tPNlf7._21mQ-k {
    margin: 0 auto;
    position: relative;
    padding: 0 16px;
    }
    ._3p9Ct9 {
    width: 250px;
}
._2Uo9IJ {
    padding-left: 16px;
    width: calc(100% - 250px);
}
._9JrytA {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin-right: 10%;
    margin-bottom: 16px;
    border-radius: 4px 0 0 4px;
}
._13P_9S {
    margin: 10px 0;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
}
._13P_9S ._2jekE6 {
    color: #2874f0;
    font-weight: 500;
    text-align: center;
    padding: 10px;
    background-color: #fff;
    border: 1px solid #d7d7d7;
    font-size: 14px;
    border-radius: 2px;
    text-transform: capitalize;
    box-shadow: none;
}
._1zEmsI {
    position: relative;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
}
._2KpZ6l._3dESVI {
    background: #2874f0;
    color: #fff;
    box-shadow: 0 2px 4px 0 rgb(0 0 0 / 20%);
    border: none;
}
._1rv7Aa {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}
.IgU6Js {
    margin-right: 6px;
}
._1uMrhc {
    height: 40px;
    width: 100%;
    border: 1px solid #dbdbdb;
    padding: 8px;
    border-radius: 4px 0 0 4px;
    font-size: 14px;
}
._1ejeYK {
    width: 250px;
    height: -webkit-max-content;
    height: -moz-max-content;
    height: max-content;
    -webkit-flex: 0 0 auto;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    padding-bottom: 8px;
    line-height: 24px;
}
._1Rot47 {
    padding: 8px 16px;
}
.B7BJU0 {
    font-weight: 500;
    font-size: 20px;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}
._1MR4o5 ._3GIHBu {
    font-size: 12px;
    color: #878787;
    display: inline-block;
}
._1MR4o5 ._2whKao {
    max-width: 80px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: inline-block;
    vertical-align: middle;
}
._1MR4o5 ._3GIHBu {
    font-size: 12px;
    color: #878787;
    display: inline-block;
}
._1MR4o5 ._39X-Og {
    height: 7px;
    width: 20px;
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
    vertical-align: middle;
}
.a8Kwjc {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    overflow-x: auto;
    -ms-overflow-style: none;
}
._1TVFmy .ZM3_EH._3GL8XI {
    -webkit-animation: _1TVFmy 20s ease-in-out 0s forwards;
    animation: _1TVFmy 20s ease-in-out 0s forwards;
}
._1TVFmy .ZM3_EH {
    height: 100%;
    width: 100%;
    background: #ffe11b;
    transition: -webkit-transform .3s ease-in-out;
    transition: transform .3s ease-in-out;
    transition: transform .3s ease-in-out,-webkit-transform .3s ease-in-out;
    -webkit-transform-origin: left center;
    transform-origin: left center;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
}
.dwRsDN {
    background-color: #fff;
}
._1kidPb {
    max-width: 1248px;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    height: 40px;
    margin: auto;
    position: relative;
}

._1kidPb {
    max-width: 978px;
}
._1kidPb, ._2I9KP_ {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}
._2I9KP_, ._3QN6WI {
    cursor: pointer;
}
._3p9Ct9 {
    width: 250px;
}
._3E8aIl {
    background-color: #fff;
    border-radius: 2px;
    box-shadow: 0 2px 4px 0 rgb(0 0 0 / 8%);
}
._1ejeYK {
    width: 250px;
    height: -webkit-max-content;
    height: -moz-max-content;
    height: max-content;
    -webkit-flex: 0 0 auto;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    padding-bottom: 8px;
    line-height: 24px;
}
.Okfx8U {
    padding: 0 16px;
    border-top: 1px solid #f8f8f8;
}
._2MvS62 {
    font-weight: 500;
    font-size: 14px;
    text-transform: uppercase;
    padding: 8px 0;
}
.O1ypae {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 8px;
    cursor: pointer;
}
.Okfx8U ._2-BSLO {
    height: 12px;
    width: 12px;
    -webkit-flex: 0 0 auto;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
}
._2iDkf8 {
    cursor: pointer;
    width: 100%;
    position: relative;
    display: block;
}
.YeQvMM {
    margin-left: 10px;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
}
.JV-Wt3 {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}
._3dshlq {
    padding: 16px;
    width: 100%;
    font-size: 14px;
    overflow: hidden;
    transition: box-shadow .1s linear;
    background-color: #fff;
    border: 1px solid #dbdbdb;
    position: relative;
    cursor: pointer;
    display: block;
    box-shadow: 0 0 0 0 rgb(0 0 0 / 15%);
    margin-bottom: 8px;
    border-radius: 4px;
}
._1hVBfR ._1kkfO3, ._1hVBfR ._89Bmzb {
    box-shadow: none;
    padding: 0;
    border: none;
    font-size: 14px;
    text-decoration: none;
    color: #212121;
    margin-bottom: 10px;
    font-weight: 400;
}
._1hVBfR ._1kkfO3 {
    cursor: pointer;
}
._1hVBfR ._1kkfO3, ._1hVBfR ._89Bmzb {
    box-shadow: none;
    padding: 0;
    border: none;
    font-size: 14px;
    text-decoration: none;
    color: #212121;
    margin-bottom: 10px;
    font-weight: 400;
}
._1hVBfR ._65ZkAB {
    color: #878787;
    font-size: 12px;
    margin-bottom: 5px;
}
._1hVBfR ._3dOR_a {
    padding-right: 8px;
}
._1hVBfR ._65ZkAB {
    color: #878787;
    font-size: 12px;
    margin-bottom: 5px;
}
._1hVBfR .-igymY {
    font-weight: 400;
}
._1hVBfR ._3dOR_a {
    padding-right: 8px;
}
._3dshlq ._1_SN5_ {
    color: #212121;
    text-transform: uppercase;
}
._3dshlq .pq5Jer {
    color: #212121;
}
._3SbeKb._2cm2Hi {
    background-color: #26a541;
    border: 2px solid #26a541;
}
._3SbeKb {
    height: 10px;
    width: 10px;
    border-radius: 50%;
    background-color: none;
    border: 2px solid #26a541;
    display: inline-block;
    margin-right: 8px;
}
.AO0UbU {
    font-size: 14px;
    font-weight: 500;
}
._30gI7w {
    font-size: 12px;
    margin-top: 8px;
}
._3dshlq ._18fmpV {
    margin-top: 10px;
    font-size: 12px;
    color: #878787;
}
._3dshlq ._2yfTUY {
    margin-top: 10px;
}
._1dnpZA {
    padding-bottom: 10px;
    font-weight: 500;
    margin-left: -10px;
    width: auto;
}
._1dnpZA, .xqAw5c {
    color: #2874f0;
    word-break: break-all;
}
._1dnpZA .Efhm0G {
    cursor: pointer;
}
._1dnpZA .Efhm0G ._1dki8b {
    vertical-align: middle;
}
._2YpB-X {
    cursor: pointer;
    width: auto;
    vertical-align: top;
}
._13P_9S {
    margin: 10px 0;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
}
._9JrytA {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin-right: 10%;
    margin-bottom: 16px;
    border-radius: 4px 0 0 4px;
}
._1zEmsI {
    position: relative;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
}
._1uMrhc {
    height: 40px;
    width: 100%;
    border: 1px solid #dbdbdb;
    padding: 8px;
    border-radius: 4px 0 0 4px;
    font-size: 14px;
}
._2KpZ6l._3dESVI {
    background: #2874f0;
    color: #fff;
    box-shadow: 0 2px 4px 0 rgb(0 0 0 / 20%);
    border: none;
}
._1a6zKX {
    -webkit-flex: 0 0 auto;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    border-radius: 0 4px 4px 0;
}
._2KpZ6l {
    display: inline-block;
    border-radius: 2px;
    color: #212121;
    padding: 10px 20px;
    font-size: 13px;
    font-weight: 500;
    transition: box-shadow .2s ease;
    vertical-align: super;
    background: #fff;
    cursor: pointer;
    outline: none;
    box-shadow: 0 1px 2px 0 rgb(0 0 0 / 10%);
    border: 1px solid #e0e0e0;
}
._60jGDA ._2qAgVi {
    min-width: 978px;
    max-width: 1680px;
    width: 100%;
    margin: 0 auto;
    overflow: hidden;
    background: #f1f3f6;
}
.tPNlf7._21mQ-k {
    margin: 0 auto;
    position: relative;
    padding: 0 16px;
}
.RBYJSW {
    margin-top: 16px;
}
.a8Kwjc {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    overflow-x: auto;
    -ms-overflow-style: none;
}
.tPNlf7._21mQ-k ._277DpZ {
    margin: 8px;
}
.JV-Wt3 {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}
._1MR4o5 ._2whKao {
    max-width: 80px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: inline-block;
    vertical-align: middle;
}
a, img {
    text-decoration: none;
    color: inherit;
    border: none;
    outline: none;
}
._2MvS62 {
    font-weight: 500;
    font-size: 14px;
    text-transform: uppercase;
    padding: 8px 0;
}
.B7BJU0 {
    font-weight: 500;
    font-size: 20px;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}
.fonts-loaded body{
    font-family: Roboto,Arial,sans-serif;
    letter-spacing: 0;
}


.asd {
        padding: 16px;
        width: 100%;
        font-size: 14px;
        overflow: hidden;
        transition: box-shadow .1s linear;
        background-color: #fff;
        border: 1px solid #dbdbdb;
        position: relative;
        cursor: pointer;
        display: block;
        box-shadow: 0 0 0 0 rgb(0 0 0 / 15%);
        margin-bottom: 8px;
        border-radius: 4px;
    }

    a,
    img {
        text-decoration: none !important;
        color: inherit !important;
        border: none;
        outline: none;
    }

    .CXW8mj {
        position: relative;
        margin: 0 auto;
    }

    ._3SbeKb {
        height: 10px;
        width: 10px;
        border-radius: 50%;
        background-color: none;
        border: 2px solid #26a541;
        display: inline-block;
        margin-right: 8px;
    }

    ._3SbeKb._2cm2Hi {
        background-color: #26a541;
        border: 2px solid #26a541;
    }

    ._396cs4 {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        top: 0;
        margin: auto;
        opacity: 0;
        max-width: 100%;
        max-height: 100%;
    }

    ._3exPp9 {
        opacity: 1;
    }

    .text {
        font-size: 14px;
        cursor: pointer;
    }

    .AO0UbU {
        font-size: 14px;
        font-weight: 500;
    }

    ._30gI7w {
        font-size: 12px;
        margin-top: 8px;
    }

    ._3dshlq {
        padding: 16px;
        width: 100%;
        font-size: 14px;
        overflow: hidden;
        transition: box-shadow .1s linear;
        background-color: #fff;
        border: 1px solid #dbdbdb;
        position: relative;
        cursor: pointer;
        display: block;
        box-shadow: 0 0 0 0 rgb(0 0 0 / 15%);
        margin-bottom: 8px;
        border-radius: 4px;
    }

    ._3dshlq ._18fmpV {
        margin-top: 10px;
        font-size: 12px;
        color: #878787;
    }

    ._3dshlq ._2yfTUY {
        margin-top: 10px;
    }

    ._1dnpZA {
        padding-bottom: 10px;
        font-weight: 500;
        margin-left: -10px;
        width: auto;
    }

    ._1dnpZA,
    .xqAw5c {
        color: #2874f0;
        word-break: break-all;
    }

    ._1dnpZA .Efhm0G {
        cursor: pointer;
    }

    body {
        font-size: 14px;
        background-color: #f1f3f6;
        color: #212121;
        line-height: 1.4;
    }

    * {
        box-sizing: border-box;
        margin: 0;
        padding: 0;
    }
</style>
</style>
<div class="_2qAgVi">
    <div class="tPNlf7 _21mQ-k">
        <div class="RBYJSW">
            <div class="a8Kwjc"></div>
        </div>
        <div class="_1MR4o5 _277DpZ">
            <div class="_3GIHBu">
                <a class="_2whKao" href="/">Home</a>
                <svg width="16"
                     height="27"
                     viewBox="0 0 16 27"
                     xmlns="http://www.w3.org/2000/svg"
                     class="_39X-Og">
                    <path d="M16 23.207L6.11 13.161 16 3.093 12.955 0 0 13.161l12.955 13.161z" fill="#fff" class="DpXnhQ"></path>
                </svg>
            </div>
            <div class="_3GIHBu">
                <a class="_2whKao" href="/account?link=my_account">My Account</a>
                <svg width="16"
                     height="27"
                     viewBox="0 0 16 27"
                     xmlns="http://www.w3.org/2000/svg"
                     class="_39X-Og">
                    <path d="M16 23.207L6.11 13.161 16 3.093 12.955 0 0 13.161l12.955 13.161z" fill="#fff" class="DpXnhQ"></path>
                </svg>
            </div>
            <div class="_3GIHBu">
                <a class="_2whKao" href="/account/orders?link=home_orders">My Orders</a>
                <svg width="16"
                     height="27"
                     viewBox="0 0 16 27"
                     xmlns="http://www.w3.org/2000/svg"
                     class="_39X-Og">
                    <path d="M16 23.207L6.11 13.161 16 3.093 12.955 0 0 13.161l12.955 13.161z" fill="#fff" class="DpXnhQ"></path>
                </svg>
            </div>
        </div>
        <div class="JV-Wt3">
            <div class="_3p9Ct9">
                <div class="_3E8aIl _1ejeYK">
                    <div class="_1Rot47">
                        <div class="B7BJU0">
                            <span>Filters</span>
                        </div>
                    </div>
                    <div class="Okfx8U">
                        <div class="_2MvS62">Order Status</div>
                        <div class="O1ypae" data-val="On_the_way">
                            <label class="_2iDkf8 _2-BSLO">
                                <input type="checkbox" class="_30VH1S" readonly="">
                                <div class="_24_Dny"></div>
                            </label>
                            <div class="YeQvMM">On the way</div>
                        </div>
                        <div class="O1ypae" data-val="Delivered">
                            <label class="_2iDkf8 _2-BSLO">
                                <input type="checkbox" class="_30VH1S" readonly="">
                                <div class="_24_Dny"></div>
                            </label>
                            <div class="YeQvMM">Delivered</div>
                        </div>
                        <div class="O1ypae" data-val="Cancelled">
                            <label class="_2iDkf8 _2-BSLO">
                                <input type="checkbox" class="_30VH1S" readonly="">
                                <div class="_24_Dny"></div>
                            </label>
                            <div class="YeQvMM">Cancelled</div>
                        </div>
                        <div class="O1ypae" data-val="Returned">
                            <label class="_2iDkf8 _2-BSLO">
                                <input type="checkbox" class="_30VH1S" readonly="">
                                <div class="_24_Dny"></div>
                            </label>
                            <div class="YeQvMM">Returned</div>
                        </div>
                    </div>
                    <div class="Okfx8U">
                        <div class="_2MvS62">Order Time</div>
                        <div class="O1ypae" data-val="Last_30_days">
                            <label class="_2iDkf8 _2-BSLO">
                                <input type="checkbox" class="_30VH1S" readonly="">
                                <div class="_24_Dny"></div>
                            </label>
                            <div class="YeQvMM">Last 30 days</div>
                        </div>
                        <div class="O1ypae" data-val="2022">
                            <label class="_2iDkf8 _2-BSLO">
                                <input type="checkbox" class="_30VH1S" readonly="">
                                <div class="_24_Dny"></div>
                            </label>
                            <div class="YeQvMM">2022</div>
                        </div>
                        <div class="O1ypae" data-val="2021">
                            <label class="_2iDkf8 _2-BSLO">
                                <input type="checkbox" class="_30VH1S" readonly="">
                                <div class="_24_Dny"></div>
                            </label>
                            <div class="YeQvMM">2021</div>
                        </div>
                        <div class="O1ypae" data-val="2020">
                            <label class="_2iDkf8 _2-BSLO">
                                <input type="checkbox" class="_30VH1S" readonly="">
                                <div class="_24_Dny"></div>
                            </label>
                            <div class="YeQvMM">2020</div>
                        </div>
                        <div class="O1ypae" data-val="2019">
                            <label class="_2iDkf8 _2-BSLO">
                                <input type="checkbox" class="_30VH1S" readonly="">
                                <div class="_24_Dny">
                                </div>
                            </label>
                            <div class="YeQvMM">
                                2019
                            </div>
                        </div>
                        <div class="O1ypae" data-val="Older">
                            <label class="_2iDkf8 _2-BSLO">
                                <input type="checkbox" class="_30VH1S" readonly="">
                                <div class="_24_Dny">
                                </div>
                            </label>
                            <div class="YeQvMM">
                                Older
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="column _2Uo9IJ">
                <div class="_9JrytA">
                    <div class="_1zEmsI">
                        <input type="text"
                               class="_1uMrhc"
                               placeholder="Search your orders here"
                               value="">
                    </div>
                    <button class="_2KpZ6l _1a6zKX _3dESVI">
                        <div class="_1rv7Aa">
                            <svg width="16"
                                 height="16"
                                 viewBox="0 0 17 18"
                                 class="IgU6Js"
                                 xmlns="http://www.w3.org/2000/svg">
                                <g fill="#fff" fill-rule="evenodd">
                                <path class="" d="m11.618 9.897l4.225 4.212c.092.092.101.232.02.313l-1.465 1.46c-.081.081-.221.072-.314-.02l-4.216-4.203">
                                </path>
                                <path class="" d="m6.486 10.901c-2.42 0-4.381-1.956-4.381-4.368 0-2.413 1.961-4.369 4.381-4.369 2.42 0 4.381 1.956 4.381 4.369 0 2.413-1.961 4.368-4.381 4.368m0-10.835c-3.582 0-6.486 2.895-6.486 6.467 0 3.572 2.904 6.467 6.486 6.467 3.582 0 6.486-2.895 6.486-6.467 0-3.572-2.904-6.467-6.486-6.467">
                                </path>
                                </g>
                            </svg>
                            <span>Search Orders</span>
                        </div>
                    </button>
                </div>
                <div>
                    {{#each products }}
                        <div class="asd" id="{{this._id}}">
                            <a href="">
                                <div class="row">
                                    <div class="col-2">
                                        <div class="CXW8mj" style="height: 75px; width: 75px;">
                                            <img class="_396cs4 _3exPp9" src="/products/{{this.img}}" alt="">
                                        </div>
                                    </div>
                                    <div class="col-4 text">
                                        {{this.name}}
                                    </div>
                                    <div class="col-2 d-flex justify-content-center">
                                        {{this.price}}
                                    </div>
                                    <div class="col-4">
                                        <div>
                                            <div class="_3SbeKb _2cm2Hi">
                                            </div>
                                            <span class="AO0UbU">Delivered on Sep 29</span>
                                            <div class="_30gI7w">
                                                Your item has been delivered
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </a>
                            <div class="row">
                                <div class="col-8">
                                </div>
                                <div class="col-4">
                                    <div class="_2yfTUY">
                                        <div class="_1dnpZA row ps-1">
                                            <a href="">
                                                <i class="bi bi-star-fill"> Rate & Review Product</i>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {{/each}}
                </div>
                <div class="_13P_9S">
                    <div class="_2jekE6">
                        <span>No more results to display</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
